
{:source-paths ["macros" "src" "cli"]
 :dependencies [[mvc-works/hsl              "0.1.2"]
                [respo/ui                   "0.3.13"]
                [cumulo/util                "0.1.10"]
                [appliedscience/js-interop  "0.1.20"]
                [medley                     "1.2.0"]
                [org.clojure/core.incubator "0.1.4"]]
 :open-file-command ["subl" ["%s:%s:%s" :file :line :column]]
 :dev-http {7000 "target"}
 :builds {:client {:target :browser
                   :output-dir "target/"
                   :asset-path "./"
                   :modules {:client {:init-fn reacher.example.main/main!}}
                   :devtools {:after-load reacher.example.main/reload!}
                   :compiler-options {:infer-externs :auto}
                   :release {:output-dir "dist/"
                             :module-hash-names 8
                             :build-options {:manifest-name "assets.edn"}}}
          :page {:target :node-script
                 :output-to "target/page.js"
                 :main reacher.example.page/main!
                 :devtools {:after-load reacher.example.page/main!}}}}
